body {
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-aside-1: #051e34;
  --bg-header: #f8f9fa;
  --bg-banner: #1b72e8;
  --bg-searchbar: #e5e5e5;
  --bell: #ff8f00;
}

.debug {
  & aside {
    /* border: 1px dashed; */
    /* width: 100px; */
  }

  .banner {
    /* height: 120px; */
  }

  .card {
    /* height: 500px; */
  }
}

/* #region HEADER */

header {
  height: 70px;

  .searchbar {
    background-color: var(--bg-searchbar);

    > input {
      background-color: var(--bg-searchbar);
      min-width: 10px;
    }

    > input:focus-visible {
      outline: none;
    }
  }

  .icons {
    .icons-none {
      gap: 15px;
      color: grey;
    }

    .bell-icon {
      & i {
        color: var(--bell);
        line-height: 24px;
      }

      & a::after {
        display: none;
      }
    }
  }
}

/* #endregion HEADER */

/* #region ASIDE */

aside {
  height: calc(100vh - 70px);
  background-color: #051e34;
  background-image: url(../img/sidebar-bg.png);
}

/* #endregion ASIDE */

/* #region MAIN */

main {
  height: calc(100vh - 70px);
  overflow-y: auto;

  .banner {
    background-color: var(--bg-banner);

    .boolean {
      .label {
        background-color: rgba(0, 0, 0, 0.27);
        white-space: nowrap;
        margin-bottom: 6px;
      }
    }
  }

  .card {
    margin-bottom: 15px;

    & th {
      font-size: 0.9rem;
      font-weight: 400;
      text-align: center;
    }

    & td {
      text-align: center;
      font-size: 0.9rem;

      .label {
        font-size: 0.7rem;
        padding: 3px 7px;
      }

      .actions {
        padding: 3px 7px;
      }
    }
  }
}

/* #endregion MAIN */
